<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyao.mapper.MeetingPubMapper" >
  <resultMap id="BaseResultMap" type="com.xiaoyao.entity.po.MeetingPub" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="pcode" property="pcode" jdbcType="VARCHAR" />
    <result column="ptime" property="ptime" jdbcType="VARCHAR" />
    <result column="tid" property="tid" jdbcType="INTEGER" />
    <result column="ptitle" property="ptitle" jdbcType="VARCHAR" />
    <result column="pzone" property="pzone" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="SMALLINT" />
    <result column="sortnum" property="sortnum" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pcode, ptime, tid, ptitle, pzone, remark, uid, status, sortnum, create_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from meeting_pub
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from meeting_pub
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiaoyao.entity.po.MeetingPub" >
    insert into meeting_pub (id, pcode, ptime, 
      tid, ptitle, pzone, 
      remark, uid, status, 
      sortnum, create_date)
    values (#{id,jdbcType=VARCHAR}, #{pcode,jdbcType=VARCHAR}, #{ptime,jdbcType=VARCHAR}, 
      #{tid,jdbcType=INTEGER}, #{ptitle,jdbcType=VARCHAR}, #{pzone,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}, #{status,jdbcType=SMALLINT}, 
      #{sortnum,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoyao.entity.po.MeetingPub" >
    insert into meeting_pub
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pcode != null" >
        pcode,
      </if>
      <if test="ptime != null" >
        ptime,
      </if>
      <if test="tid != null" >
        tid,
      </if>
      <if test="ptitle != null" >
        ptitle,
      </if>
      <if test="pzone != null" >
        pzone,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="sortnum != null" >
        sortnum,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="pcode != null" >
        #{pcode,jdbcType=VARCHAR},
      </if>
      <if test="ptime != null" >
        #{ptime,jdbcType=VARCHAR},
      </if>
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="ptitle != null" >
        #{ptitle,jdbcType=VARCHAR},
      </if>
      <if test="pzone != null" >
        #{pzone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="sortnum != null" >
        #{sortnum,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoyao.entity.po.MeetingPub" >
    update meeting_pub
    <set >
      <if test="pcode != null" >
        pcode = #{pcode,jdbcType=VARCHAR},
      </if>
      <if test="ptime != null" >
        ptime = #{ptime,jdbcType=VARCHAR},
      </if>
      <if test="tid != null" >
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="ptitle != null" >
        ptitle = #{ptitle,jdbcType=VARCHAR},
      </if>
      <if test="pzone != null" >
        pzone = #{pzone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="sortnum != null" >
        sortnum = #{sortnum,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoyao.entity.po.MeetingPub" >
    update meeting_pub
    set pcode = #{pcode,jdbcType=VARCHAR},
      ptime = #{ptime,jdbcType=VARCHAR},
      tid = #{tid,jdbcType=INTEGER},
      ptitle = #{ptitle,jdbcType=VARCHAR},
      pzone = #{pzone,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      status = #{status,jdbcType=SMALLINT},
      sortnum = #{sortnum,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>