<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaoyao.mapper.MeetingGrabMapper" >
  <resultMap id="BaseResultMap" type="com.xiaoyao.entity.po.MeetingGrab" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="grab_date" property="grabDate" jdbcType="TIMESTAMP" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="grab_status" property="grabStatus" jdbcType="SMALLINT" />
    <result column="status" property="status" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, pid, remark, uid, grab_date, create_date, grab_status, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from meeting_grab
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from meeting_grab
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xiaoyao.entity.po.MeetingGrab" >
    insert into meeting_grab (id, pid, remark, 
      uid, grab_date, create_date, 
      grab_status, status)
    values (#{id,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{uid,jdbcType=INTEGER}, #{grabDate,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP}, 
      #{grabStatus,jdbcType=SMALLINT}, #{status,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaoyao.entity.po.MeetingGrab" >
    insert into meeting_grab
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="grabDate != null" >
        grab_date,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="grabStatus != null" >
        grab_status,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="grabDate != null" >
        #{grabDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="grabStatus != null" >
        #{grabStatus,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaoyao.entity.po.MeetingGrab" >
    update meeting_grab
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="grabDate != null" >
        grab_date = #{grabDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="grabStatus != null" >
        grab_status = #{grabStatus,jdbcType=SMALLINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaoyao.entity.po.MeetingGrab" >
    update meeting_grab
    set pid = #{pid,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      grab_date = #{grabDate,jdbcType=TIMESTAMP},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      grab_status = #{grabStatus,jdbcType=SMALLINT},
      status = #{status,jdbcType=SMALLINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>